// Base Resource Url
$baseResUrl : '/assets/images';

// Color & Font Values
$pageBgColor    : #EFEFF4;
$bodyBgColor    : #FFFFFF;
$redColor       : #FF3B30;
$mainThemeColor : #FFE200;
$borderColor    : #F2F2F2;
$lineColor      : #F2F2F2;

$color333       : #333333;
$color777       : #777777;
$color000       : #000000;
$wxGreenColor   : #09BB07;

// Layer Specification
$zindex0        : 0;        
$zindex99       : 99;       
$zindez100      : 100;       
